
    .full{
        display: flex;
        max-width: 1920px;
        width: 100%;

    }
    .container {
      width: 50%;
      height: 100%;
      border: 2px solid #ccc;
      padding: 10px;
      margin: 10px;
      display: inline-block;
    }
    .item {
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      padding: 5px;
      margin: 5px;
      cursor: move;
    }
    .item.dragging {
        background-color: rebeccapurple;
    }
    .message {
      background-color: #f1f1f1;
      border: 2px dashed #ccc;
      padding: 10px;
      margin: 10px;
      text-align: center;
    }
    .success-message {
        background-color: lightgreen;
        border: 2px solid green;
        padding: 10px;
        margin: 10px;
        text-align: center;
      }
